*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);

    transition: all 1.5s;
}

main{
    background-color: rgb(255, 153, 0);
    height: 85%;
    transition: all 1.5s;
}

header{
    padding: 10px 30px 5px 30px;
    height: 10%;
    background-color: rgb(255, 153, 0);
    position: relative;
    transition: all 1.5s;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img{
    padding-top: 5px;
    width: 70px;
    height: 70px;
}

header button{
    background-color: transparent;
    border: none;
    outline: none;
}

section{
    height: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transition: all 1.5s;

    display: flex;
    flex-direction: row;
}

.products{
    width: 60%;
    height: 100%;
    
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
}

article{
    padding: 20px;
    margin: 25px;
    width: 170px;
    height: 170px;
    border: 2px inset gray;
    border-radius: 100%;
    transition: border-radius 1s, box-shadow 1s;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

article img{
    width: 150px;
    height: 150px;
    filter: grayscale(1);

    transition: all 1s;
}
.soda{
    width: 100px;
    height: 170px;
}

article:hover{
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}
article:hover img{
    filter: grayscale(0);
}


.selected{
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

.quitgris{
    filter: grayscale(0);
}



/*Animaciones*/
#burger{
    animation: cargar 3s 1 linear 0s;
}
#soda{
    animation: cargar1 3s 1 linear 0s;
}
#pizza{
    animation: cargar2 3s 1 linear 0s;
}
#icecream{
    animation: cargar3 3s 1 linear 0s;
}
@keyframes cargar{
    0%{filter: opacity(0%);}
    0%{filter: opacity(0%);}
	100%{}
}
@keyframes cargar1{
    0%{filter: opacity(0%);}
    25%{filter: opacity(0%);}
	100%{}
}
@keyframes cargar2{
    0%{filter: opacity(0%);}
    50%{filter: opacity(0%);}
	100%{}
}
@keyframes cargar3{
    0%{filter: opacity(0%);}
    75%{filter: opacity(0%);}
	100%{}
}

.calorias{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calorias h1{
    margin: 15px;
    font-size: 30px;
}

/*Colores*/
.color{
    /*08b2e3*/
    background-color: #fd9c41bb;
}
.colordark{
    /*335c67*/
    background-color: #6b6b6bbe;
}


.blanco{
    background-color: white;
}
.negro{
    background-color: #242f40;
}


/*Responsive*/
@media screen and (min-width: 0px) and (max-width: 551px){
    header h1{
        font-size: 25px;
    }
    
    header img{
        width: 50px;
        height: 50px;
    }

    section{
        flex-direction: column-reverse;
    }

    .products{
        width: 100%;
        height: 70%;
    }

    .calorias h1{
        font-size: 25px;
    }

    .calorias{
        width: 100%;
        height: 30%;
    }

    article{
        width: 90px;
        height: 90px;
    }

    article img{
        width: 100px;
        height: 100px;
    }

    .soda{
        width: 70px;
        height: 120px;
    }
}

@media screen and (min-width: 551px) and (max-width: 796.9px){

    header h1{
        font-size: 25px;
    }
    
    header img{
        width: 50px;
        height: 50px;
    }

    section{
        flex-direction: column-reverse;
    }

    article{
        margin: 22px;
    }

    article img{
        width: 120px;
        height: 120px;
    }

    .soda{
        width: 80px;
        height: 140px;
    }

    .products{
        width: 100%;
        height: 70%;
    }

    .calorias{
        width: 100%;
        height: 30%;
    }

    .calorias h1{
        font-size: 26px;
    }
}

@media screen and (min-width: 797px) and (max-width: 900px){
    article{
        width: 145px;
        height: 145px;
    }
}