*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    height: 100vh;
    box-sizing: border-box;

    transition: all 1s;
}

header{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 10%;
    background-color: rgb(255, 153, 0);

    transition: all 1.5s;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img{
    padding-top: 5px;
    width: 70px;
    height: 70px;
}

header button{
    background-color: transparent;
    border: none;
    outline: none;
}

section{
    height: 85%;

    display: flex;
    flex-direction: row;
}

.products{
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
}

article{
    padding: 20px;
    margin: 25px;
    width: 170px;
    height: 170px;
    border: 2px inset gray;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

article img{
    width: 160px;
    height: 160px;
}
article:hover img{
    filter: grayscale(0);
}

.soda{
    width: 100px;
    height: 170px;
}


/*Animaciones*/
#burger{
    -webkit-animation: cargar 3s 1 linear 0s;
}
#soda{
    -webkit-animation: cargar1 3s 1 linear 0s;
}
#pizza{
    -webkit-animation: cargar2 3s 1 linear 0s;
}
#icecream{
    -webkit-animation: cargar3 3s 1 linear 0s;
}
@-webkit-keyframes cargar{
    0%{filter: opacity(0%);}
    0%{filter: opacity(0%);}
	100%{}
}
@-webkit-keyframes cargar1{
    0%{filter: opacity(0%);}
    25%{filter: opacity(0%);}
	100%{}
}
@-webkit-keyframes cargar2{
    0%{filter: opacity(0%);}
    50%{filter: opacity(0%);}
	100%{}
}
@-webkit-keyframes cargar3{
    0%{filter: opacity(0%);}
    75%{filter: opacity(0%);}
	100%{}
}

.calorias{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calorias h1{
    margin: 15px;
    font-size: 30px;
}

/*Colores*/
.color{
    /*08b2e3*/
    background-color: #fd9c41bb;
}
.colordark{
    /*335c67*/
    background-color: #6b6b6bbe;
}
.gris{
    filter: grayscale(1);
}


/*Responsive*/
@media screen and (min-width: 0px) and (max-width: 551px){
    header h1{
        font-size: 25px;
    }
    
    header img{
        width: 50px;
        height: 50px;
    }

    body{
        height: 100%;
    }

    section{
        flex-direction: column-reverse;
    }

    .products{
        width: 100%;
        height: 50%;
        align-content: center;
    }

    .calorias h1{
        font-size: 25px;
    }

    .calorias{
        width: 100%;
        height: 40%;
    }

    article{
        width: 90px;
        height: 90px;
    }

    article img{
        width: 100px;
        height: 100px;
    }

    .soda{
        width: 70px;
        height: 120px;
    }
}

@media screen and (min-width: 551px) and (max-width: 780px){
    body{
        height: 100%;
    }

    header h1{
        font-size: 25px;
    }
    
    header img{
        width: 50px;
        height: 50px;
    }

    section{
        flex-direction: column-reverse;
    }

    article{
        margin: 22px;
    }

    article img{
        width: 120px;
        height: 120px;
    }

    .soda{
        width: 80px;
        height: 140px;
    }

    .products{
        align-content: unset;
        width: 100%;
        height: 50%;
    }

    .calorias{
        width: 100%;
        height: 40%;
    }

    .calorias h1{
        font-size: 26px;
    }
}

@media screen and (min-width: 781px) and (max-width: 900px){
    article{
        width: 135px;
        height: 135px;
    }
}