*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    height: 100vh;
    background-color: rgb(255, 153, 0);
    transition: background 1.5s;
}

header{
    padding: 15px 30px;
    height: 12%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button{
    background-color: transparent;
    border: none;
    outline: none;
}
header button, .mode{
    height: 100%;
}

main{
    background-color: white;
    height: 88%;
    border-radius: 50px 50px 0px 0px;
    transition: background 1.5s;

    display: flex;
}

.products{
    width: 60%;
    
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.products article{
    margin-bottom: 20px;
    width: 26%;
}

article img{
    width: 100%;
    filter: grayscale(1);
    border-radius: 100%;

    transition: all 1s;
}

.products img:hover, .selected{
    border-radius: 20px;
    box-shadow:  15px 15px 30px #a8a8a8,
             -15px -15px 30px #ffffff;
    filter: grayscale(0);
}


/*Animaciones*/
.burger{
    animation: cargar 3s linear;
}
.soda{
    animation: cargar 3.3s cubic-bezier(.62,.01,.58,.58);
}
.pizza{
    animation: cargar 3.6s cubic-bezier(.85,0,.58,.58);
}
.icecream{
    animation: cargar 3.9s cubic-bezier(1,0,.58,.58);
}
@keyframes cargar{
    0%{filter: opacity(0%);}
	100%{}
}

.calorias{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calorias h1{
    margin: 15px;
    font-size: 30px;
}

/*Cambio de modo*/
.body-dark-color{
    background-color: #C34C00;
}
.main-dark-color{
    background-color: #242f40;
}
.product-shadow-dark-color:hover, .product-shadow-dark-color.selected{
    box-shadow:  15px 15px 30px #181f2a,
             -15px -15px 30px #303f56 !important;
}


/*Responsive*/
@media screen and (min-width: 0px) and (max-width: 768.9px){
    header h1{
        font-size: 40px;
    }

    main{
        flex-direction: column-reverse;
    }

    .products article{
        width: 35%;
    }

    .products{
        width: 100%;
        height: 75%;
        align-content: space-evenly;
    }

    .calorias{
        width: 100%;
        height: 25%;
    }
}

@media screen and (max-width: 576px){
    header h1{
        font-size: 30px;
    }
    .products{
        height: 70%;
    }
    .calorias{
        height: 30%;
    }
}